body {
    color: #f8f8f2;
    background-color: #282a36;
}

.main-container {
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-style: groove;
    border-color: #6272a4;
    gap: 40px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.name {
    color: #ff79c6;
}

