body {
    font-family: Georgia, "Times New Roman", serif;
    color: #f8f8f2;
    background-color: #282a36;
}

.main-container {
    padding: 20px;
    margin: auto;
    width: 600px;
    margin-top: 150px;
    border: solid;
    border-color: #bd93f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-container {
    width: 100%;
}

.content-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 20px;
}

.content-left-container {
    width: 50%;
}

.content-right-container {
    width: 50%;
    height: 100%;
}
.name {
    color: #bd93f9;
}

a {
    color: #f8f8f2;
    text-decoration: none;
}

h3 {
    font-weight: bold;
    margin: 5px;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
    list-style-type: circle;
}

li {
    margin: 3px;
    padding: 3px;
}
